.container {
    padding: 20px;
}

.editor {
    width: 99%;
    height: 80vh;
    padding: 15px;
    line-height: 1.6;
    border: 2px solid #2c2c2c;
    border-radius: 8px;
    background-color: #2c2c2c;
    color: #e8e8e8;
    outline: none;
    overflow-y: auto;
    font-size: 20px;
    margin: auto;
}

#settings {
    position: relative;
    display: inline-block;
}

.docs-link {
    display: flex;
    width: 100%;
    color: #555555;
    text-decoration: none;
    font-size: 20px;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.docs-link:hover {
    color: #9999;
}

.mq-math-mode .mq-hasCursor .mq-cursor {
    border-left: 1px solid white !important;
}
 .mq-editable-field, .mq-math-mode .mq-editable-field {
	border: none !important;
}


#sidebarMenu {
    position: fixed;
    top: 0;
    right: -290px;
    width: 250px;
    height: 100%;
    background-color: #2c2c2c;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 1000;
    border-left: 1px solid #444;
}

#sidebarMenu h3 {
    color: #e8e8e8;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#sidebarMenu ul {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #444;
    margin-bottom: 20px;
}

#sidebarMenu li {
    margin-bottom: 15px;
    color: #e8e8e8;
    cursor: pointer;
    border-bottom: 1px dashed #444;
    padding-bottom: 10px;
}

#sidebarMenu li:last-child {
    border-bottom: none;
}

#sidebarMenu li button {
    background-color: #555;
    color: #e8e8e8;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#sidebarMenu li button:hover {
    background-color: #777;
}

#notebookName {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    background-color: #333;
    color: #e8e8e8;
}

#createNotebook {
    width: 100%;
    padding: 10px;
    background-color: #555;
    color: #e8e8e8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#createNotebook:hover {
    background-color: #777;
}




 @media print {
    #header, footer {
        display: none;
    }
}

